.Logo{
     width:15rem;
     align-items: center;
}
.row nav{
     background: linear-gradient(black,rgba(72, 71, 71, 0.792),gray,black)
}
footer{
     justify-content: space-between;
     align-items: center;
     background: linear-gradient(black,rgba(72, 71, 71, 0.792),gray,black)
}
h1,h2 , p {
     color: gray;
}
.black{
    color:black
}
form{
     background: linear-gradient(black,rgba(72, 71, 71, 0.792),gray,black)
}
@media only screen and (max-width:768px){
     .black {
        text-align: center;
     }
     
}
@media only screen and (min-width:1024px){
     a{font-size: 1.5rem;color: black;transition:all 2s;}
     a:hover{ background-color: gray;color: white;}
}
